.DS_Store
.ai
.cache
.deployments/instances/
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.operation_history
.preferences.yaml
.profiles_*
.ssh_tunnel
.variables/
__pycache__/
docker-compose.override.yml
example.db
example.duckdb
logs/
mage-ai.db
mage_data/
secrets/
